div.tooltip-stripe {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 0px;
    pointer-events: none;
    font-size: 1.3rem;
}
